#contact {
  /* content */
  display: flex;
  flex-direction: column;
  padding: var(--padding-v) var(--margin-h);
  /* appearance */
  margin: 0;
  /* interaction */
  overflow: hidden;
}
#contact-card-wrapper {
  /* content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* appearance */
  flex: 1 1 0;
}

#contact-card {
  --shadow-z: calc(-2 * var(--border-radius));
  /* content */
  padding: var(--gap);
  /* appearance */
  background: var(--white-opacity);
  border-radius: var(--border-radius);
  /* position */
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(9999px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

#contact-card::before,
#contact-card::after {
  content: "";
  /* appearance */
  border-radius: inherit;
  /* position */
  position: absolute;
  transform: translateZ(var(--shadow-z));
}

#contact-card::before {
  /* appearance */
  inset: var(--border-radius);
  background: var(--black-opacity);
  filter: blur(var(--blur));
  /* position */
  z-index: -1;
}

#contact-card::after {
  /* appearance */
  inset: calc(-1 * var(--border-radius));
  background: linear-gradient(45deg, var(--main-photo), var(--main-dev));
  /* position */
  z-index: -2;
}

.contact-particles {
  /* appearance */
  opacity: calc(var(--opacity) * 2);
  /* position */
  position: absolute;
  transform-origin: center;
  z-index: -10;
  /* interaction */
  pointer-events: none;
}

@keyframes moveParticle {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}
