#contact {
  /* content */
  display: flex;
  flex-direction: column;
  padding: var(--padding-v) var(--margin-h);
  /* appearance */
  margin: 0;
  /* interaction */
  overflow: hidden;
}
#contact-card-wrapper {
  /* content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* appearance */
  flex: 1 1 0;
}

#contact-card {
  --shadow-z: calc(-2 * var(--border-radius));
  /* content */
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--border-radius);
  padding: calc(2.5 * var(--border-radius));
  /* appearance */
  background: var(--white-opacity);
  border-radius: var(--border-radius);
  /* position */
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(9999px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  & h2 {
    /* appearance */
    margin-bottom: var(--border-radius);
  }
}

#contact-card::before,
#contact-card::after {
  content: "";
  /* appearance */
  border-radius: inherit;
  /* position */
  position: absolute;
  transform: translateZ(var(--shadow-z));
}

#contact-card::before {
  /* appearance */
  inset: var(--border-radius);
  background: var(--black-opacity);
  filter: blur(var(--blur));
  /* position */
  z-index: -1;
}

#contact-card::after {
  /* appearance */
  inset: calc(-1 * var(--border-radius));
  background: linear-gradient(45deg, var(--main-photo), var(--main-dev));
  /* position */
  z-index: -2;
}

.contact-particles {
  /* appearance */
  opacity: calc(var(--opacity) * 2);
  height: var(--size);
  aspect-ratio: 1/1;
  /* position */
  position: absolute;
  transform-origin: center;
  z-index: -10;
  /* interaction */
  pointer-events: none;
}

#contact-infos {
  /* content */
  display: flex;
  flex-wrap: wrap;
  gap: var(--border-radius);
}
.contact-info {
  /* content */
  display: flex;
  align-items: center;
  gap: calc(0.5 * var(--border-radius));
  & img {
    /* appearance */
    border-radius: 0;
    width: var(--font-size-h1);
  }
  &:hover p {
    /* content */
    color: var(--main);
  }
}

@keyframes moveParticle {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}
