#grid-container {
  /* content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
  /* appearance */
  margin-top: var(--gap);
  & .img-text-wrapper {
    --gap-wrapper: calc(var(--gap) * -0.5);
    & .img-container {
      /* appearance */
      aspect-ratio: 45/32;
      flex: 1 1 0;
      box-shadow: var(--shadows-hidden);
      /* position */
      position: relative;
      /* interaction */
      transition: all var(--duration-transition);
      & img {
        /* appearance */
        filter: grayscale(0);
        /* interaction */
        transition: all var(--duration-transition);
      }
    }
    & .text-container {
      /* content */
      display: flex;
      flex-direction: column;
      gap: calc(var(--border-radius) * 0.5);
      /* appearance */
      flex: 1 1 0;
    }
  }
}

#grid-container .img-container:hover {
  /* appearance */
  box-shadow: var(--shadows);
  transform: scale(1.1);
  & img {
    /* appearance */
    filter: grayscale(1);
  }
  & .buttons-dev {
    /* content */
    display: inline-flex;
  }
}

.logos {
  /* content */
  display: flex;
  gap: calc(var(--font-size-p) / 2);
  & .tech-logo {
    /* content */
    font-size: var(--font-size-p);
    /* appearance */
    height: calc(var(--font-size-h2) * 1.2);
    aspect-ratio: 1/1;
  }
}

.buttons-dev {
  /* content */
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: var(--border-radius);
  padding: var(--border-radius);
  flex-wrap: wrap;
  /* appearance */
  width: 100%;
  /* position */
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: center;
}

@media (max-width: 768px) {
  #grid-container {
    & .img-container {
      /* appearance */
      width: 80%;
    }
  }
  .buttons-dev {
    /* content */
    display: inline-flex;
    align-items: start;
    /* position */
    top: 0%;
  }
}
