#grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
  margin-top: var(--gap);
  & .img-text-wrapper {
    --gap-wrapper: calc(var(--gap) * -0.5);
    & .img-container {
      /* appearance */
      aspect-ratio: 45/32;
      flex: 1 1 0;
      box-shadow: var(--shadows-hidden);
      /* interaction */
      transition: all var(--duration-transition);
      & img {
        /* appearance */
        filter: grayscale(0);
        /* interaction */
        transition: all var(--duration-transition);
      }
    }
    & .text-container {
      /* content */
      /* padding: var(--font-size-p); */
      display: flex;
      flex-direction: column;
      gap: calc(var(--border-radius) * 0.5);
      /* appearance */
      flex: 1 1 0;
    }
  }
}

#grid-container .img-container:hover {
  box-shadow: var(--shadows);
  transform: scale(1.1);
  & img {
    filter: grayscale(1);
  }
}
#grid-container .img-container:active {
  transform: scale(1.08);
}

.logos {
  display: flex;
  gap: calc(var(--font-size-p) / 2);
  & .tech-logo {
    border-radius: 0;
    --size: calc(var(--font-size-h2) * 1.2);
    width: var(--size);
    height: var(--size);
    font-size: var(--font-size-p);
    position: relative;
    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
