#background {
  /* appearance */
  isolation: isolate;
  width: 100vw;
  height: 100vh;
  background: transparent;
  opacity: 0.1;
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  /* interaction */
  overflow: hidden;
  & span {
    /* appearance */
    mix-blend-mode: screen;
    border-radius: 50%;
    /* position */
    position: absolute;
    offset-rotate: 0deg;
    /* interaction */
    animation: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes move {
  50% {
    transform: scale(0.7);
  }
  100% {
    offset-distance: 100%;
    transform: scale(1);
  }
}
