#cursor {
  --cursor-color: var(--secondary);
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* interaction */
  pointer-events: none;
  & #cursor-form {
    /* content */
    fill: var(--cursor-color);
    /* appearance */
    width: var(--cursor-size);
    height: var(--cursor-size);
    /* position */
    transform-origin: top left;
    transform: translate(-50%, -50%);
    /* interaction */
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  & .sparkle {
    /* appearance */
    border-radius: 50%;
    opacity: 0.2;
    /* position */
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg) translate(-50%, -50%);
  }
  33% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
  66% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(90deg) translate(-50%, -50%);
  }
}

@keyframes fall {
  to {
    transform: translateY(20px) translate(-50%, -50%);
    opacity: 0;
  }
}
