#cursor {
  /* appearance */
  display: none;
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zIndex-cursor);
  /* interaction */
  pointer-events: none;
  & .sparkle {
    /* appearance */
    border-radius: 50%;
    opacity: var(--opacity);
    /* position */
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

@keyframes fall {
  to {
    transform: translateY(20px) translate(-50%, -50%);
    opacity: 0;
  }
}
