#progress-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--width-scroll);
  background: var(--black-opacity);
  z-index: var(--zIndex-header);
}

#progress-bar {
  width: 100%;
  height: 0%;
  background: var(--secondary);
}
