#design {
  --height-carousel: 50vh;
  --width-carousel: 70vw;
  --padding-carousel: 20vmin;
  --size-img-carousel: 35vmin;
  --height-carousel-container: calc(var(--height-carousel) + var(--padding-carousel) * 2);
  /* position */
  position: relative;
}

#carousel-container {
  /* content */
  padding: var(--padding-carousel) 0;
  justify-content: center;
  /* appearance */
  width: 100%;
  /* position */
  display: inline-flex;
  position: relative;
  /* interaction */
  overflow: hidden;
  & #carousel-text {
    /* content */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* appearance */
    max-width: 35vw;
    /* position */
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 25; /* based on the middle z-index of the carousel */
    /* interaction */
    user-select: none;
    & #carousel-description {
      /* content */
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: calc(0.5 * var(--border-radius));
      align-items: center;
      /* appearance */
      margin-top: var(--border-radius);
    }
  }
  & #carousel {
    --path: "";
    /* appearance */
    height: var(--height-carousel);
    width: var(--width-carousel);
    /* position */
    position: relative;
    /* interaction */
    user-select: none;
    & .img-carousel {
      /* appearance */
      width: var(--size-img-carousel);
      height: var(--size-img-carousel);
      /* position */
      position: absolute;
      offset-path: var(--path);
      offset-rotate: 0deg;
      offset-anchor: center;
    }
  }
}

#buttons-carousel {
  /* content */
  display: flex;
  gap: var(--width-carousel);
  justify-content: center;
  /* appearance */
  width: 100%;
  /* position */
  position: absolute;
  top: calc(var(--height-carousel-container) - var(--size-img-carousel) / 2);
  left: 0;
  z-index: 50; /* based on the top z-index of the carousel */
}
.button-carousel {
  /* content */
  text-align: center;
  align-content: center;
  color: var(--color-button);
  /* appearance */
  width: calc(var(--border-radius) * 2);
  height: calc(var(--border-radius) * 2);
}
.button-carousel:hover {
  /* content */
  color: var(--white);
}

@media (max-width: 768px) {
  #carousel-description {
    /* content */
    grid-template-columns: auto !important;
    & .button {
      /* appearance */
      width: fit-content;
      /* position */
      justify-self: center;
    }
    & p {
      /* content */
      text-align: center;
    }
  }
}
