@import "./carousel.css";

#design {
  /* appearance */
  margin: 0;
  padding: 0;
}

#design-detail {
  /* appearance */
  height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 0;
  background: center / contain no-repeat var(--detail-url);
}

#design-detail.hide {
  /* appearance */
  height: 0px;
}
