#overlay {
  --opacity-black: 0.9;
  /* content */
  display: none;
  align-items: flex-start;
  justify-content: end;
  gap: var(--border-radius);
  padding: var(--border-radius) calc(var(--border-radius) * 2);
  /* appearance */
  background: center / contain no-repeat var(--more-url), var(--black-opacity);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--zIndex-colibri) + 1);
}
#overlay-close {
  /* content */
  font-size: var(--font-size-h1);
  color: var(--white);
  /* appearance */
  background: none;
  border: none;
}
.overlay-open {
  pointer-events: none !important;
}
