#about-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--border-radius) * 2);
  margin-top: calc(var(--border-radius) * 2);
}
.text-container {
  position: relative;
  &.end {
    margin-top: var(--border-radius);
  }
  &.odd {
    padding-right: var(--gap);
    & .text-illustration {
      right: -52px;
    }
  }
  &.even {
    padding-left: var(--gap);
    & .text-illustration {
      left: -52px;
    }
  }
  & p {
    text-indent: var(--border-radius);
  }
  & .text-illustration {
    opacity: 0.15;
    z-index: -1;
    position: absolute;
  }
}

#text-illustration-1 {
  top: -48px;
}

#text-illustration-2 {
  top: 8px;
}

#text-illustration-3 {
  top: -41px;
}
