#about-text {
  /* content */
  display: flex;
  flex-direction: column;
  gap: calc(var(--border-radius) * 2);
  /* appearance */
  margin-top: calc(var(--border-radius) * 2);
  & .text-container-about {
    /* position */
    position: relative;
    &:last-child {
      /* appearance */
      margin-top: var(--border-radius);
    }
    &:nth-child(odd) {
      /* content */
      padding-right: var(--gap);
      & .text-illustration {
        /* position */
        transform: translate(50%, -50%);
        right: 0;
      }
    }
    &:nth-child(even) {
      /* content */
      padding-left: var(--gap);
      & .text-illustration {
        /* position */
        transform: translate(-50%, -50%);
        left: 0;
      }
    }
    & .text-illustration {
      /* appearance */
      height: 130%;
      max-height: 175px;
      /* position */
      top: 50%;
      position: absolute;
      z-index: -1;
    }
  }
}

@media (max-width: 768px) {
  #about-text {
    .text-container-about {
      &:nth-child(odd) {
        /* content */
        padding-right: 0;
      }
      &:nth-child(even) {
        /* content */
        padding-left: 0;
      }
    }
  }
}
