#profile-picture-container {
  --deg-after-shake: 1.5deg;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

#container-caret {
  --size-dash-bulb: 159;
  --size-dash-caret: 30;
  --size-offset-caret: -24;
  --up-during-draw: -10%;
  position: relative;
  & #ampoule {
    /* appearance */
    font-size: var(--font-size-h2);
    height: 2.5em; /* initial svg height (60px) is based on a 24px font-size */
    width: 2.04em; /* initial svg height (49px) is based on a 24px font-size */
    overflow: visible;
    /* position */
    position: absolute;
    top: -1em;
    left: -0.1em;
    & #caret-and-bulb {
      --opacity-black: 0.6;
      stroke: var(--black-opacity);
      stroke-dasharray: var(--size-dash-caret) var(--size-dash-bulb);
      stroke-dashoffset: 0;
    }
    & #ampoule-light {
      opacity: 0;
      stroke: var(--secondary);
      transform: translateY(var(--up-during-draw));
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(5deg) translate(2px, -1px);
  }
  40% {
    transform: rotate(-5deg) translate(-2px, 1px);
  }
  60% {
    transform: rotate(4deg) translate(1px, -2px);
  }
  80% {
    transform: rotate(-4deg) translate(-1px, 2px);
  }
  100% {
    transform: rotate(var(--deg-after-shake)) translate(0, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drawBulb {
  0% {
    stroke-dasharray: var(--size-dash-caret) var(--size-dash-bulb);
    stroke-dashoffset: 0;
    transform: translateY(0);
  }
  19% {
    /* --size-offset-caret is ~19% of --size-dash-bulb */
    stroke-dasharray: var(--size-dash-caret) var(--size-dash-bulb);
    stroke-dashoffset: var(--size-offset-caret);
    transform: translateY(var(--up-during-draw));
  }
  100% {
    stroke-dasharray: var(--size-dash-bulb) var(--size-dash-bulb);
    stroke-dashoffset: var(--size-offset-caret);
    transform: translateY(var(--up-during-draw));
  }
}

@keyframes colorPicture {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

@keyframes hideShadow {
  0% {
    box-shadow: var(--shadows);
  }
  100% {
    box-shadow: var(--shadows-hidden);
  }
}
