@import "./modules/presentation/presentation.css";
@import "./modules/about/about.css";
@import "./modules/design/design.css";
@import "./modules/dev/dev.css";
@import "./modules/common/cursor.css";
@import "./modules/common/scroll.css";
@import "./modules/common/bg.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  /* colors */
  --opacity-black: 0.2;
  --opacity-white: 0.4;
  --main-design: #e63946;
  --main-dev: #3cd4b9;
  --main-photo: #a0e8af;
  --main-montage: #ff9f1c;
  --secondary-design: var(--main-montage);
  --secondary-dev: var(--main-design);
  --secondary-photo: var(--main-dev);
  --secondary-montage: var(--main-photo);
  --black-design: #011713;
  --black-design-opacity: rgba(1, 23, 19, var(--opacity-black));
  --black-dev: #170e01;
  --black-dev-opacity: rgba(23, 14, 1, var(--opacity-black));
  --black-photo: #170103;
  --black-photo-opacity: rgba(23, 1, 3, var(--opacity-black));
  --black-montage: #011706;
  --black-montage-opacity: rgba(1, 23, 6, var(--opacity-black));
  --white-design: #f7fef9;
  --white-design-opacity: rgba(247, 254, 249, var(--opacity-white));
  --white-dev: #fef7f8;
  --white-dev-opacity: rgba(254, 247, 248, var(--opacity-white));
  --white-photo: #fefbf7;
  --white-photo-opacity: rgba(254, 251, 247, var(--opacity-white));
  --white-montage: #f7fefc;
  --white-montage-opacity: rgba(247, 254, 252, var(--opacity-white));

  --main: var(--main-design);
  --secondary: var(--secondary-design);
  --black: var(--black-design);
  --black-opacity: var(--black-design-opacity);
  --white: var(--white-design);
  --white-opacity: var(--white-design-opacity);
  /* ****** */

  /* variable */
  --border-radius: 16px;
  --border-radius-little: 0.4rem;
  --padding-v: 10vw;
  --margin-h: 20vw;
  --gap: 5vw;
  --blur: 20px;
  --width-picture-profile: 25vw;
  --width-logo: 50px;
  --width-scroll: calc(var(--border-radius) * 0.5);
  /* ******** */
}

html {
  cursor: none;
  background: var(--white);
  overflow-x: hidden;
  min-width: 500px;
}

body::-webkit-scrollbar {
  width: 0;
}

/** FONT **/
* {
  --font-title: Baloo, Tahoma, Geneva, Verdana, sans-serif;
  --font-corps: Poppins, Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
  font-family: var(--font-corps);
}
html {
  font-size: clamp(12px, 1.4vw, 18px);
  --font-size-h1: 1.6rem;
  --font-size-h2: 1.4rem;
  --font-size-p: 1rem;
}
h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-h1);
  margin-bottom: var(--border-radius);
}
h2 {
  font-size: var(--font-size-h2);
}
p {
  text-align: justify;
  font-size: var(--font-size-p);
}
.button * {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: var(--font-size-p);
}
/** **** **/

/** GLOBAL COMPONENT **/
img {
  object-fit: cover;
  object-position: 100% center;
  border-radius: var(--border-radius);
}

.button {
  /* appearance */
  --padding: 0.4rem 0.8rem 0.25rem 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--main);
  min-width: fit-content;
  /* position */
  position: relative;
  display: inline-grid;
  /* interaction */
  overflow: hidden;
  cursor: none;
  &:hover {
    background: var(--main);
    transition: background 0.2s 0s ease;
    box-shadow: 0 0 0.5em 0em var(--black-opacity);
    & .button-hover {
      transform: translateY(0%);
    }
  }
  &:active .button-hover {
    box-shadow: inset 0 0 0.5em 0em var(--black-opacity);
  }
}
.button-content {
  display: grid;
  grid-template-areas: "stack";
  & * {
    /* appearance */
    padding: var(--padding);
    text-align: center;
    /* position */
    grid-area: stack;
  }
  & .button-default {
    /* appearance */
    color: var(--main);
    white-space: nowrap;
  }
  & .button-hover {
    /* appearance */
    background: var(--main);
    color: var(--white);
    /* position */
    transform: translateY(-102%);
    /* interaction */
    transition: transform 0.2s ease;
  }
}

.tooltip {
  &::before {
    content: attr(data-tooltip);
    /* appearance */
    background: var(--black);
    color: var(--white);
    padding: 0.15rem 0.6rem 0.3rem 0.6rem;
    width: max-content;
    opacity: 0;
    border-radius: var(--border-radius-little);
    /* position */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    /* interaction */
    transition: opacity 0.2s ease;
  }
  &:hover::before {
    opacity: 0.8;
  }
}

.section {
  min-height: 100vh;
  margin: 0 var(--margin-h);
  padding: var(--padding-v) 0;
  box-sizing: border-box;
}

.highlight-container {
  width: fit-content;
  position: relative;
  white-space: nowrap;
  --opacity-highlight: 0.4;
  &.main .highlight-stroke {
    color: var(--main);
  }
  &.secondary .highlight-stroke {
    color: var(--secondary);
  }
  &.orange .highlight-stroke {
    color: var(--main-montage);
  }
  &.blue .highlight-stroke {
    color: var(--main-dev);
  }
  &.green .highlight-stroke {
    color: var(--main-photo);
    --opacity-highlight: 0.6;
  }
  &.red .highlight-stroke {
    color: var(--main-design);
  }
}
.highlight-stroke {
  position: absolute;
  content: "";
  left: 50%;
  top: 60%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  z-index: -1;
  & path {
    color: inherit;
    opacity: var(--opacity-highlight);
  }
}

h1 .highlight-stroke {
  width: calc(100% + calc(var(--border-radius) * 2));
  height: 85%;
  --opacity-highlight: 0.75;
}
span .highlight-stroke {
  width: calc(100% + calc(var(--border-radius) * 0.25));
  height: 40%;
}
/** ****** ********* **/

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 990; /* just below colibri and cursor */
  width: 100%;
  padding-right: var(--width-scroll);
  & .container-header {
    padding: var(--border-radius);
    backdrop-filter: blur(var(--blur));
    border-radius: var(--border-radius-little);
  }
  & img {
    border-radius: 0px;
    width: var(--width-logo);
  }
}
