@import "./modules/presentation/presentation.css";
@import "./modules/about/about.css";
@import "./modules/design/design.css";
@import "./modules/dev/dev.css";
@import "./modules/common/cursor.css";
@import "./modules/common/progressBar.css";
@import "./modules/common/bg.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  /* colors */
  --opacity-black: 0.2;
  --opacity-white: 0.4;
  --main-design: #e63946;
  --main-dev: #3cd4b9;
  --main-dev-opacity: rgba(60, 212, 185, var(--opacity-black));
  --main-photo: #a0e8af;
  --main-montage: #ff9f1c;
  --secondary-design: var(--main-montage);
  --secondary-dev: var(--main-design);
  --secondary-photo: var(--main-dev);
  --secondary-montage: var(--main-photo);
  --black-design: #011713;
  --black-design-opacity: rgba(1, 23, 19, var(--opacity-black));
  --black-dev: #170e01;
  --black-dev-opacity: rgba(23, 14, 1, var(--opacity-black));
  --black-photo: #170103;
  --black-photo-opacity: rgba(23, 1, 3, var(--opacity-black));
  --black-montage: #011706;
  --black-montage-opacity: rgba(1, 23, 6, var(--opacity-black));
  --white-design: #f7fef9;
  --white-design-opacity: rgba(247, 254, 249, var(--opacity-white));
  --white-dev: #fef7f8;
  --white-dev-opacity: rgba(254, 247, 248, var(--opacity-white));
  --white-photo: #fefbf7;
  --white-photo-opacity: rgba(254, 251, 247, var(--opacity-white));
  --white-montage: #f7fefc;
  --white-montage-opacity: rgba(247, 254, 252, var(--opacity-white));

  --main: var(--main-design);
  --secondary: var(--secondary-design);
  --black: var(--black-design);
  --black-opacity: var(--black-design-opacity);
  --white: var(--white-design);
  --white-opacity: var(--white-design-opacity);
  /* ****** */

  /* variable */
  --border-radius: 16px;
  --border-radius-little: 0.4rem;
  --padding-v: 10vw;
  --margin-h: 20vw;
  --gap: 5vw;
  --blur: 10px;
  --width-picture-profile: 25vw;
  --width-logo: 50px;
  --width-scroll: calc(var(--border-radius) * 0.5);
  --shadows: calc(var(--border-radius) * -0.5) calc(var(--border-radius) * 0.5) 0px 0px var(--main-photo),
    calc(var(--border-radius) * 0.5) var(--border-radius) 0px 0px var(--main-montage),
    var(--border-radius) calc(var(--border-radius) * -0.5) 0px 0px var(--main-dev),
    calc(var(--border-radius) * 1.5) calc(var(--border-radius) * 1.5) 0px 0px var(--main-design);
  --shadows-hidden: 0px 0px 0px 0px var(--main-photo), 0px 0px 0px 0px var(--main-montage),
    0px 0px 0px 0px var(--main-dev), 0px 0px 0px 0px var(--main-design);
  /* ******** */
}

html {
  cursor: none;
  background: var(--white);
  overflow-x: hidden;
  min-width: 500px;
}

body::-webkit-scrollbar {
  width: 0;
}

/** FONT **/
* {
  --font-title: Baloo, Tahoma, Geneva, Verdana, sans-serif;
  --font-corps: Poppins, Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
  font-family: var(--font-corps);
}
html {
  font-size: clamp(12px, 1.4vw, 18px);
  --font-size-h1: 1.6rem;
  --font-size-h2: 1.4rem;
  --font-size-p: 1rem;
}
h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-h1);
  margin-bottom: var(--border-radius);
}
h2 {
  font-size: var(--font-size-h2);
}
p {
  font-size: var(--font-size-p);
}
p.justify {
  text-align: justify;
  text-indent: var(--border-radius);
}
.button * {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: var(--font-size-p);
}
/** **** **/

/** LOADER **/
#loader-wrapper {
  /* content */
  display: flex;
  flex-direction: column;
  gap: var(--border-radius);
  justify-content: center;
  align-items: center;
  /* appearance */
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  & #loader {
    /* appearance */
    height: 30vmin;
    width: 30vmin;
  }
  & p {
    /* content */
    font-family: var(--font-title);
    /* interaction */
    animation: blink 2000ms infinite;
  }
}
/** ****** **/

/** IMG **/
img {
  /* content */
  object-fit: cover;
  object-position: 100% center;
  /* appearance */
  border-radius: var(--border-radius);
}
/** IMG **/

/** BUTTONS **/
.button {
  --padding: 0.4rem 0.8rem 0.25rem 0.8rem;
  /* appearance */
  border-radius: var(--border-radius);
  border: 2px solid var(--main);
  min-width: fit-content;
  /* position */
  position: relative;
  display: inline-grid;
  /* interaction */
  overflow: hidden;
  cursor: none;
  &:hover {
    /* appearance */
    background: var(--main);
    box-shadow: 0 0 0.5em 0em var(--black-opacity);
    /* interaction */
    transition: background 0.2s 0s ease;
    & .button-hover {
      /* position */
      transform: translateY(0%);
    }
  }
  &:active .button-hover {
    /* appearance */
    box-shadow: inset 0 0 0.5em 0em var(--black-opacity);
  }
}
.button-content {
  /* content */
  display: grid;
  grid-template-areas: "stack";
  & .button-default,
  & .button-hover {
    /* content */
    padding: var(--padding);
    text-align: center;
    /* position */
    grid-area: stack;
  }
  & .button-default {
    /* content */
    color: var(--main);
    white-space: nowrap;
  }
  & .button-hover {
    /* content */
    color: var(--white);
    /* appearance */
    background: var(--main);
    /* position */
    transform: translateY(-102%);
    /* interaction */
    transition: transform 0.2s ease;
  }
}
/** ******* **/

/** TOOLTIP **/
.tooltip {
  &::before {
    content: attr(data-tooltip);
    /* content */
    padding: 0.15em 0.6em 0.3em 0.6em;
    font-size: 1em;
    color: var(--white);
    /* appearance */
    background: var(--black);
    width: max-content;
    opacity: 0;
    border-radius: var(--border-radius-little);
    /* position */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    /* interaction */
    transition: opacity 0.2s ease;
  }
  &:hover::before {
    /* appearance */
    opacity: 0.8;
  }
}
/** ******* **/

/** HIGHLIGHTS **/
.highlight-container {
  --opacity-highlight: 0.4;
  /* content */
  white-space: nowrap;
  /* appearance */
  width: fit-content;
  /* position */
  position: relative;
  &.main .highlight-stroke {
    color: var(--main);
  }
  &.main .highlight-stroke {
    color: var(--main);
  }
  &.secondary .highlight-stroke {
    color: var(--secondary);
  }
  &.orange .highlight-stroke {
    color: var(--main-montage);
  }
  &.blue .highlight-stroke {
    color: var(--main-dev);
  }
  &.green .highlight-stroke {
    --opacity-highlight: 0.6;
    color: var(--main-photo);
  }
  &.red .highlight-stroke {
    color: var(--main-design);
  }
}
.highlight-stroke {
  /* position */
  position: absolute;
  left: 50%;
  top: 60%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  z-index: -1;
  & path {
    /* appearance */
    color: inherit;
    opacity: var(--opacity-highlight);
  }
}

h1 .highlight-stroke {
  --opacity-highlight: 0.75;
  /* appearance */
  width: calc(100% + calc(var(--border-radius) * 2));
  height: 85%;
}
span .highlight-stroke {
  /* appearance */
  width: calc(100% + calc(var(--border-radius) * 0.25));
  height: 40%;
}
/** ********** **/

/** SECTIONS **/
.section {
  /* content */
  padding: var(--padding-v) 0;
  /* appearance */
  min-height: 100vh;
  margin: 0 var(--margin-h);
  box-sizing: border-box;
}
/** ******** **/

/** HEADER **/
header {
  /* content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--width-scroll);
  /* appearance */
  box-sizing: border-box;
  width: 100%;
  /* position */
  position: fixed;
  z-index: 990; /* just below colibri and cursor */
  & .container-header {
    /* content */
    padding: var(--border-radius);
    /* appearance */
    backdrop-filter: blur(var(--blur));
    border-radius: var(--border-radius-little);
  }
  & img {
    /* appearance */
    border-radius: 0px;
    width: var(--width-logo);
  }
}
/** ****** **/

/** IMAGE AND TEXT **/
.img-text-wrapper {
  --gap-wrapper: calc(var(--gap) * -1);
  /* content */
  display: flex;
  align-items: center;
  justify-content: center;
  &.odd {
    /* appearance */
    margin-right: var(--gap);
  }
  &.even {
    /* content */
    flex-direction: row-reverse;
    /* appearance */
    margin-left: var(--gap);
    & .text-container {
      /* appearance */
      margin-right: var(--gap-wrapper);
      margin-left: 0;
    }
  }
  & .img-container {
    /* appearance */
    border-radius: var(--border-radius);
    & img {
      /* appearance */
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  & .text-container {
    /* content */
    padding: var(--border-radius);
    /* appearance */
    margin-left: var(--gap-wrapper);
    border-radius: var(--border-radius);
    background: var(--white-opacity);
    backdrop-filter: blur(var(--blur));
  }
}
/** ***** *** **** **/
