.highlight-container {
    width: fit-content;
  position: relative;
  white-space: nowrap;
  --opacity-highlight: 0.4;
  &.main .highlight-stroke {
    color: var(--main);
  }
  &.secondary .highlight-stroke {
    color: var(--secondary);
  }
  &.orange .highlight-stroke {
    color: var(--main-montage);
  }
  &.blue .highlight-stroke {
    color: var(--main-dev);
  }
  &.green .highlight-stroke {
    color: var(--main-photo);
    --opacity-highlight: 0.6;
  }
  &.red .highlight-stroke {
    color: var(--main-design);
  }
}

.highlight-stroke {
  position: absolute;
  content: "";
  left: 50%;
  top: 60%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  z-index: -1;
  & path {
    color: inherit;
    opacity: var(--opacity-highlight);
  }
}

h1 .highlight-stroke {
  width: calc(100% + calc(var(--border-radius) * 2));
  height: 85%;
  --opacity-highlight: 0.75;
}
p .highlight-stroke {
  width: calc(100% + calc(var(--border-radius) * 0.25));
  height: 40%;
}

#about-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--border-radius) * 2);
  margin-top: calc(var(--border-radius) * 2);
}
.text-container {
  position: relative;
  &.end {
    margin-top: var(--border-radius);
  }
  &.odd {
    padding-right: var(--gap);
    & .text-illustration {
      right: -52px;
    }
  }
  &.even {
    padding-left: var(--gap);
    & .text-illustration {
      left: -52px;
    }
  }
  & p {
    text-indent: var(--border-radius);
  }
  & .text-illustration {
    opacity: 0.15;
    z-index: -1;
    position: absolute;
  }
}

#text-illustration-1 {
  top: -48px;
}

#text-illustration-2 {
  top: 8px;
}

#text-illustration-3 {
  top: -41px;
}
