#background {
  z-index: -999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
  isolation: isolate;
  opacity: 0.1;
  & span {
    mix-blend-mode: screen;
    offset-rotate: 0deg;
    border-radius: 50%;
    position: absolute;
    animation: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes move {
  50% {
    transform: scale(0.7);
  }
  100% {
    offset-distance: 100%;
    transform: scale(1);
  }
}
