#imgProjects {
  display: inline-flex;
  justify-content: center;
  margin: 5vh 0;
  padding: 20vmin 0;
  width: 100%;
  overflow: hidden;
}
#carousel {
  user-select: none;
  height: 50vh;
  width: 70vw;
  position: relative;
  --path: "";
}

#carousel .img-carousel {
  /* appearance */
  width: 40vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 16px;

  /* position */
  position: absolute;
  offset-path: var(--path);
  offset-rotate: 0deg;
  offset-anchor: center;
}