* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  --main-design: #e63946;
  --main-dev: #3cd4b9;
  --main-photo: #a0e8af;
  --main-montage: #ff9f1c;
  --secondary-design: var(--main-montage);
  --secondary-dev: var(--main-design);
  --secondary-photo: var(--main-dev);
  --secondary-montage: var(--main-photo);
  --black-design: #011713;
  --black-dev: #170e01;
  --black-photo: #170103;
  --black-montage: #011706;
  --white-design: #f7fef9;
  --white-dev: #fef7f8;
  --white-photo: #fefbf7;
  --white-montage: #f7fefc;

  --main: var(--main-design);
  --secondary: var(--secondary-design);
  --black: var(--black-design);
  --white: var(--white-design);

  --font-title: Baloo, Tahoma, Geneva, Verdana, sans-serif;
  --font-corps: Poppins, Tahoma, Geneva, Verdana, sans-serif;

  --border-radius: 16px;

  color: var(--black);
  font-family: var(--font-corps);
}

html {
  cursor: none;
  background: var(--white);
  overflow-x: hidden;
}

img {
  object-fit: cover;
  object-position: 100% center;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 1.8em;
  margin-bottom: 16px;
}

.button {
  /* appearance */
  text-transform: uppercase;
  font-family: var(--font-title);
  background: transparent;
  border-radius: 5px;
  padding: 5px 15px 3px 15px;
  color: var(--main);
  border: 2px solid var(--main);
  /* position */
  position: relative;
  /* interaction */
  cursor: none;
  display: inline-block;
  overflow: hidden;
  &::after {
    content: attr(data-hover);
    /* appearance */
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    background: var(--main);
    color: var(--white);
    /* position */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, -100%);
    /* interaction */
    transition: transform 0.2s;
  }
  &:hover {
    box-shadow: 0 0 0.5em 0em rgba(1, 23, 19, 0.2);
    &::after {
      transform: translate(0, 0);
    }
  }
  &:active::after {
    box-shadow: inset 0 0 0.5em 0em rgba(1, 23, 19, 0.2);
  }
}

.tooltip {
  &::before {
    content: attr(data-tooltip);
    /* appearance */
    background: var(--black);
    color: var(--white);
    padding: 4px 8px;
    width: max-content;
    opacity: 0;
    border-radius: 6px;
    /* position */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    /* interaction */
    transition: opacity 0.2s ease;
  }
  &:hover::before {
    opacity: 0.8;
  }
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 990;
  width: 100%;
  & .container-header {
    padding: 15px;
    backdrop-filter: blur(3px);
    border-radius: 5px;
  }
  & img {
    border-radius: 0px;
    width: 50px;
  }
}

.section {
  --padding-v: 10vw;
  --margin-h: 20vw;
  --gap: 5vw;
  --widthProfile: 25vw;
  min-height: 100vh;
  margin: 0 var(--margin-h);
  padding: var(--padding-v) 0;
  box-sizing: border-box;
  & h1 {
    font-family: var(--font-title);
  }
}
.text p {
  text-align: justify;
  font-size: large;
  margin-bottom: 16px;
}

#presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  & #profile-picture {
    width: var(--widthProfile);
    aspect-ratio: 4/5;
  }
  & h1 {
    font-family: var(--font-corps);
  }
  & span {
    font-size: larger;
    font-family: var(--font-title);
    color: var(--main);
  }
}

#design {
  margin: 0;
  padding: 0;
  position: relative;
  & h1 {
    position: absolute;
    z-index: 25;
    top: 37%;
  }
}
