* {
  margin: 0;
  padding: 0;
  --themeColor1: #00b6e3;
  --themeColor2: #38c557;
  --themeColor3: #3cd4b9;
  --themeColor4: #68ecdf;
  --themeColor5: #dd9658;
  --themeColor6: #d5df48;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  cursor: none;
  background: #d8f8f2;
  overflow-x: hidden;
}

img {
  object-fit: cover;
  object-position: 100% center;
  border-radius: 16px;
}

h1 {
  margin-bottom: 32px;
}

.section {
  --padding-v: 10vw;
  --margin-h: 20vw;
  --gap: 5vw;
  --widthProfile: 25vw;
  height: 100vh;
  margin: 0 var(--margin-h);
  padding: var(--padding-v) 0;
  box-sizing: border-box;
}
.text p {
  text-align: justify;
  font-size: large;
  margin-bottom: 16px;
}

#presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
#profile-picture {
  width: var(--widthProfile);
  aspect-ratio: 4/5;
}

#design {
  margin: 0;
  padding: 0;
  position: relative;
}
#design h1 {
  position: absolute;
  z-index: 25;
  top: 37%;
}

#code {
  margin: 0;
}
#code .title {
  margin: 0 var(--margin-h);
}