* {
  margin: 0;
  padding: 0;
  color: wheat;
}

html {
  background: #171616;
}

img {
  object-fit: cover;
  object-position: 100% center;
  border-radius: 16px;
}

.section {
  height: 100vh;
  margin: 0 10vw;
}

#presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
.presentation-column {
  flex: 1 1 0;
}
#profile-picture {
  width: 100%;
  aspect-ratio: 1 / 1;
}