#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6vw;
  grid-auto-rows: minmax(100px, auto);
}
& .img-grid {
  /* appearance */
  --gain-size: 10%;
  --aspect-ratio: 45/32;
  aspect-ratio: var(--aspect-ratio);
  /* position */
  position: relative;
  /* interaction */
  --duration-transition: 0.3s;

  &::before,
  & .img-grid-hover {
    /* position */
    position: absolute;
    /* interaction */
    transition: all var(--duration-transition), color calc(0.5 * var(--duration-transition));
  }
  &::before {
    content: "";
    /* appearance */
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    border-radius: var(--border-radius);
    background: center / cover no-repeat var(--bg-url);
    /* position */
    top: 0;
    left: 0;
  }
  & .img-grid-hover {
    content: attr(data-hover);
    /* appearance */
    aspect-ratio: 1/1;
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
    border-radius: 50%;
    background: rgb(247, 254, 249, 0.2);
    backdrop-filter: blur(20px);
    transform: scale(0.2);
    display: flex;
    flex-direction: column;
    & * {
      color: transparent;
    }
    & p {
      overflow: hidden;
      flex: 1 1 0;
    }
    & h2 {
      font-family: var(--font-title);
    }
    /* position */
    transform-origin: bottom right;
    bottom: calc(-0.5 * var(--gain-size));
    right: calc(-0.5 * var(--gain-size));
    & .tech-logo {
      border-radius: 0;
      width: 25px;
      height: 25px;
      margin: 0 5px;
      fill: transparent;
    }
  }
  &:hover {
    &::before {
      /* appearance */
      width: calc(100% + var(--gain-size));
      /* position */
      top: var(--gain-size);
      left: calc(-0.5 * var(--gain-size));
    }
    & .img-grid-hover {
      /* appearance */
      aspect-ratio: var(--aspect-ratio);
      transform: scale(1);
      border-radius: var(--border-radius);
      & p {
        color: var(--black);
      }
      & .tech-logo {
        fill: var(--black);
      }
      & h2 {
        color: var(--secondary);
      }
      /* position */
      bottom: 0;
      right: 0;
      /* interaction */
      transition: all var(--duration-transition),
        color calc(0.5 * var(--duration-transition)) calc(0.5 * var(--duration-transition));
    }
  }

  &:active .img-grid-hover {
    /* position */
    transform: translate(0, calc(0.5 * var(--gain-size)));
    /* interaction */
    transition: 0s;
  }
}
