@keyframes shake {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(5deg) translate(2px, -1px);
  }
  40% {
    transform: rotate(-5deg) translate(-2px, 1px);
  }
  60% {
    transform: rotate(4deg) translate(1px, -2px);
  }
  80% {
    transform: rotate(-4deg) translate(-1px, 2px);
  }
  100% {
    transform: rotate(var(--deg-after-shake)) translate(0, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes caretDrawBulb {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes drawBulb {
  from {
    stroke-dashoffset: var(--size-dash);
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes deleteBulb {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: var(--size-dash);
  }
}

#profile-picture {
  --deg-after-shake: 1deg;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

#caret {
  /* appearance */
  height: 30px;
  margin-bottom: -5px;
  margin-left: 3px;
  border-left: 2px solid var(--black);
  /* position */
  display: inline-flex;
  transform-origin: top;
}

#container-caret {
  position: relative;
  --size-dash: 160;
}
#ampoule {
  /* appearance */
  transform: rotate(35deg);
  /* position */
  position: absolute;
  top: -25px;
  left: -8.5px;
}
#ampoule-bulb {
  stroke: var(--black);
  stroke-dasharray: var(--size-dash);
  stroke-dashoffset: var(--size-dash);
}
#ampoule-light {
  opacity: 0;
  stroke: var(--secondary);
}
