#profile-picture {
  --deg-after-shake: 1.5deg;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

#container-caret {
  position: relative;
  --size-dash-bulb: 159;
  --size-dash-caret: 30;
  --size-offset-caret: -24;
  & #ampoule {
    /* position */
    position: absolute;
    top: -25px;
    left: -5px;
    & #caret-and-bulb {
      stroke: rgba(1, 23, 19, 0.5);
      stroke-dasharray: var(--size-dash-caret) var(--size-dash-bulb);
      stroke-dashoffset: 0;
    }
    & #ampoule-light {
      opacity: 0;
      stroke: var(--secondary);
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(5deg) translate(2px, -1px);
  }
  40% {
    transform: rotate(-5deg) translate(-2px, 1px);
  }
  60% {
    transform: rotate(4deg) translate(1px, -2px);
  }
  80% {
    transform: rotate(-4deg) translate(-1px, 2px);
  }
  100% {
    transform: rotate(var(--deg-after-shake)) translate(0, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drawBulb {
  0% {
    stroke-dasharray: var(--size-dash-caret) var(--size-dash-bulb);
    stroke-dashoffset: 0;
  }
  19% {
    stroke-dasharray: var(--size-dash-caret) var(--size-dash-bulb);
    stroke-dashoffset: var(--size-offset-caret);
  }
  100% {
    stroke-dasharray: var(--size-dash-bulb) var(--size-dash-bulb);
    stroke-dashoffset: var(--size-offset-caret);
  }
}
